@font-face {
    font-family: "Gilroy";
    src: url(/fonts/gilroy.ttf);
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    --nav-height: 8em;

    --colour1: #60257d;
    --colour2: #7c4896;
    --colour3: #fff;
    --colour4: #dddddd;
    --colour5: #000;

    font-family: "Gilroy", Arial;
    font-weight: 500;

    color: var(--colour1);
}

:root {
    --scroll: 0;

    scrollbar-width: none;

    background-color: var(--colour4);
}

body {
    font-size: 1rem;
}

main {
    padding: 2em;
    padding-top: var(--nav-height);

    min-height: 100vh;

    background-color: var(--colour3);
}

@media (max-width: 800px) {
    body {
        font-size: 0.85rem;
    }
}

@media (max-width: 500px) {
    body {
        font-size: 0.6rem;
    }
}